<div class="signup">
        
    <!-- https://d2g9wbak88g7ch.cloudfront.net/staticimages/loginbanner.png -->
    
        <div class="model-body">
            <div class="model-header">
                    <img class="loginbanner"  src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/loginbanner.png">
            </div>
                <h3 class="signup">Signup</h3>
                <form [formGroup]="userForm">      
                    <div>
                        <label for="firstName">First Name</label>
                        <input name="firstName" formControlName="first_name" class="fName" placeholder="First Name"/>
                        <div class="error-message" *ngIf="userForm.get('first_name')!.touched && this.userForm.get('first_name')!.errors!['required']">
                            First name is required.
                        </div>
                    </div>
                    <div>
                        <label for="LastName">Last Name</label>
                        <input name="LastName" formControlName="last_name" class="LName" placeholder="Last Name"/>
                        <div class="error-message" *ngIf="userForm.get('last_name')!.touched && this.userForm.get('last_name')!.errors!['required']">
                            Last name is required.
                        </div>
                    </div>
                    <div>
                        <label for="contact">Contact</label>
                        <input name="contact" formControlName="contact" class="contact" placeholder="contact"/>
                        <div class="error-message" *ngIf="userForm.get('contact')!.touched && this.userForm.get('contact')!.errors!['required']">
                            Contact is required.
                        </div>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input name="email" formControlName="email" class="email" placeholder="Email"/>
                        <div class="error-message" *ngIf="userForm.get('email')!.touched && this.userForm.get('email')!.errors!['required']">
                            Email is required.
                        </div>
                        <!-- <div class="error-message" *ngIf="userForm.get('email')!.touched && this.userForm.get('email')!.errors!['email']">
                             Please Enter valid Email 
                        </div> -->
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" formControlName="password" class="password" placeholder="Password" />
                        <div class="error-message" *ngIf="userForm.get('password')!.touched && this.userForm.get('password')!.errors!['required']">
                            Password is required.
                        </div>
                    </div>
            
                    <div class="btn">
                        <button (click)="signup()" class="btnlogin" [disabled]="isLoading">Signup<span *ngIf="isLoading" class="spinner-border"></span></button>
                            <p class="or">
                                By clicking the Sign Up button,you agree to our <br />
                                <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
                            </p>
                                
                    </div>
                </form>
    
                <div class="bottomline">
                    <!-- <a href="#" class="signuplink">New to BookStore? Sign up</a -->
                    <p>By continuing, I agree to the <a class="themecolor" href="#">Terms of Use</a> &amp; <a href="#" class="themecolor">Privacy Policy</a>
                    </p>
                    
                </div>
            
        </div>
    
    
    </div>